{% extends "diurno.html" %}
{% load staticfiles %}

{% block content %}

<section >

    <div class= "container">
        <div class="row">

                <div class="nosotros">
                <h1> Objetivos  </h1>
                <p>
                    <div class="lista2">
                        <li> Ofrecer a los educandos una educación integral basada en principios de calidad profesional y de sensibilidad humana. </li>
                        <li> Propicinar mediante una actividad constante un ambiente de respeto y disciplina en los estudiantes para obtener un desarrollo de valores sociales y espirituales que faciliten la convicencia diaria.</li>
                        <li> Fomentar en el personal un esp&iacuteritu de colaboraci&oacuten y dedicacci&oacuten en el desarrollo de las diferentes actividades mediante un accionar motivacional de parte de la administración.  </li>
                    </div>
                </p>
                </div>
                <div class="img_acerca">
                    <img src="{% static 'images/ori2.png'%}" >
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
