{% extends "diurno.html" %}
{% load staticfiles %}

{% block content %}
<section class="requisitos">
    <div class= "container">
        <div class="row">
            <div class="col-12">
                <h1> Requisitos de ingreso </h1>
                <p>Para el estudiante con Educaci&oacuten General B&aacutesica concluida:</p>
                <div class="lista">
                    <li> Conclusi&oacuten de la Educaci&oacuten General B&aacutesica. </li>
                    <li>Matricularse y cursar el plan de estudios del Colegio Virtual Marco Tulio Salazar en Educaci&oacuten Diversificada, o en su efecto demostrar que se encuentra matriculado y cursando la educaci&oacuten diversificada bajo alguna de las ofertas de la Educaci&oacuten Abierta o el bachillerato por madurez.</li>
                    <li>Ser mayor de dieciocho años de edad. </li>
                    <li> Realizar proceso de matricula en la instituci&oacuten que oferta una de las especialidades de la Educaci&oacuten T&eacutecnica. </li>
                </div>
                <p>Para el estudiante con Educaci&oacuten Diversificada o Bachillerato concluido:</p>
                <div class="lista">
                    <li> Conclusi&oacuten de la Educaci&oacuten Diversificada y/o bachillerato.</li>
                    <li>Realizar el proceso de matr&iacutecula en la instituci&oacuten que oferta una de las especialidades de la Educaci&oacuten T&eacutecnica. </li>
                </div>
                </div>
        </div>
    </div>



</section>

{% endblock %}
