{% extends "diurno.html" %}
{% load staticfiles %}

{% block content %}



<section class="Contactos" >
    <div class= "container">
        <div class="row">
            <div class="col-2">
                <h1> Cont&aacutectenos </h1>
            </div>
        </div>
    </div>
    <div class= "vamos container">
        <div class="row">
            <div class="col-5">
                <h2> Horario de secretar&iacutea </h2><a> De lunes a viernes de 7:00 am a 4:20 pm </a>
                <a>Correo: colegiotecnicoparrita@gmail.com <br></a>
                <a>Tel: (+506) 2779-91-97</a>
            </div>
        </div>
    </div>
            <div class="tablvss">
            <div id="tabla1">
                <table  >
                     <tr>
                       <th>Extensi&oacuten</th>
                       <th>Dependencia</th>
                     </tr>
                     <tr>
                       <td>101</td>
                       <td>Central telef&oacutenica</td>
                     </tr>
                     <tr>
                       <td>102</td>
                       <td> Directora</td>
                     </tr>
                     <tr>
                       <td>103</td>
                       <td>Sub-Direcci&oacuten</td>
                     </tr>
                     <tr>
                       <td>104</td>
                       <td>Auxiliares 1</td>
                     </tr>
                     <tr>
                       <td>105</td>
                       <td>Auxiliares 2</td>
                     </tr>
                     <tr>
                       <td>106</td>
                       <td>Auxiliares 3</td>
                     </tr>
                     <tr>
                       <td>107</td>
                       <td>Coordinaci&oacuten de empresas</td>
                     </tr>
                     <tr>
                       <td>108</td>
                       <td>Coordinaci&oacuten de T&eacutec y Acad&eacutemica</td>
                     </tr>
                     <tr>
                       <td>109</td>
                       <td>Sala de eventos</td>
                     </tr>
                     <tr>
                       <td>110</td>
                       <td>Orientadores 1</td>
                     </tr>
                     <tr>
                       <td>111</td>
                       <td>Orientadores 2</td>
                     </tr>
                     <tr>
                       <td>112</td>
                       <td>Guardas</td>
                     </tr>
                    </table>
                    </div>
                    <div id="tabla2">
                    <table   >
                         <tr>
                           <th>Extensi&oacuten</th>
                           <th>Dependencia</th>
                         </tr>
                         <tr>
                           <td>113</td>
                           <td>Biblioteca</td>
                         </tr>
                         <tr>
                           <td>114</td>
                           <td>Laboratorio 1</td>
                         </tr>
                         <tr>
                           <td>115</td>
                           <td>Laboratorio 2</td>
                         </tr>
                         <tr>
                           <td>116</td>
                           <td>Laboratorio 3</td>
                         </tr>
                         <tr>
                           <td>117</td>
                           <td>Taller mec&aacutenico</td>
                         </tr>
                         <tr>
                           <td>118</td>
                           <td>Taller de aires</td>
                         </tr>
                         <tr>
                           <td>119</td>
                           <td>Aula Labora</td>
                         </tr>
                         <tr>
                           <td>120</td>
                           <td>Comedor</td>
                         </tr>
                         <tr>
                           <td>121</td>
                           <td>Recepci&oacuten 2</td>
                         </tr>
                         <tr>
                           <td>122</td>
                           <td>Gimnasio</td>
                         </tr>
                         <tr>
                           <td>123</td>
                           <td>Laboratorio de ingl&eacutes</td>
                         </tr>
                         <tr>
                           <td>124</td>
                           <td>Mantenimiento de c&oacutemputo</td>
                         </tr>
                        </table>


            </div>
        </div>

        <div class= "ubu container">
            <div class="row">
                <div class="col-12">
                    <h2> Localícenos </h2><a>Dirección: Carr. Pacífica Fernández Oreamuno, Provincia de Puntarenas, Parrita.</a>
                    <div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.84656120612!2d-84.32932738528456!3d9.522057393179836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa1a1b8bacdad51%3A0x9b186f8f7ed52675!2sColegio+T%C3%A9cnico+Profesional+de+Parrita!5e0!3m2!1ses-419!2scr!4v1565053249377!5m2!1ses-419!2scr" width="800" height="600" frameborder="0" style="border:0" allowfullscreen ></iframe>
                    </div>
                </div>
            </div>
        </div>
</section>




{% endblock %}
