{% extends "diurno.html" %}
{% load staticfiles %}

{% block content %}



<section class="Historia" >

        <div class= "hisss container">
            <div class="row">
                <div class="col-12">
                    <h1> Historia </h1>
                    <div class="pparr">
                    <a>La primera escuela se estableció en 1942, en Pueblo Nuevo, con el nombre de Escuela Oficial de Parrita, hoy se denomina Escuela Parrita. El Colegio Técnico Profesional Industrial de Parrita, inició sus actividades docentes en 1973; en el segundo gobierno de don José Figueres Ferrer; cuatro años después se inauguró su edificio.<br><br>
<div class="lll"><img src="{% static 'images/hist1.png'%}"> </div>
El edificio en el que hoy está el Colegio Técnico Profesional de Parrita fue construído por don Marvin Carballo Vargas quién fue el segundo director de dicha institución, también durante su administración se edificaron los "internados" que servían para dar hospedaje al estudiantado que vivía en zonas remotas del cantón tales como: Playón,
 El Carmen, Río Seco, entre otras; para el 2012 se han convertido en aulas ya que en la administración de la directora Doris Salazar se empezó a brindar el servicio de transporte estudiantil para los estudiantes de dichas regiones. Promovió así mismo, don Marvin Carballo la construcción de los talleres que ahora son de mecánica automotriz y aires acondicionados. </a>
 <div class="ooo"><img src="{% static 'images/cole3.jpeg'%}" height="1000" width="1000"> </div>
<a>El Colegio Técnico Profesional de Parrita Institución Pública, pertenece al Ministerio de Educación Pública, cuenta con dos áreas curriculares, Académica y la Técnica, además, dentro de sus intalaciones se encuentra el Colegio Nocturo La Julieta, el cual abrió sus puertas el 9 de febrero del 2004.</a>

 <div class="ooo"><img src="{% static 'images/cole5.jpeg'%}" height="1000" width="1000"> </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>




{% endblock %}
