{% extends "diurno.html" %}
{% load staticfiles %}

{% block content %}


        <div class= "container">
            <div class="row">
                <div class="col-3 yuyu">
                    <a href="{% url 'anuNoct' %}">
            <img src="{% static 'images/luna.png'%}"> <p class="imagedesc1"> Nocturno  </p>
                </a>
        </div>
                <div class="col-9 sise">
                    <a href="{% url 'anuDi' %}">
            <img src="{% static 'images/sol5.jpg'%}"> <p class="imagedesc2"> Diurno  </p></img>
        </a>
        </div>
        </div>
        </div>




{% endblock %}
