{% extends "diurno.html" %}
{% load staticfiles %}

{% block content %}

<section class="anudiurno">
    <div class= "container">
        <div class="row">
            <div class="col-12">
                <h1>Matrícula</h1>
                <a>La información de la Matrçícula se encuentra en el siguiente documento.<br></a>
                        <div class="sito">
                        <p>  Todavía no se han subido los documentos de la matrícula</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</section>


{% endblock %}
