{% extends "diurno.html" %}
{% load staticfiles %}

{% block content %}

<section >

    <div class= "container">
        <div class="row">

                <div class="valores">
                <h1> Valores  </h1>
                <div class=divider>
                <h2 class="pok"> RESPETO</h2>
                <p>El personal docente, administrativo y comunidad estudiantil del Colegio T&eacutecnico Profesional de Parrita mantenemos la cordialidad e respeto para los estudiantes, padres de familia, compañeros de trabajo. De igual manera los padres de familia y estudiantes para el personal docente y administrativo de la instituci&oacuten. </p>
                <h2 class="pok"> DISCIPLINA </h2>
                <p>El personal docente, administrativo e estudiantes conservamos los par&aacutemetros de disciplina como el orden, puntualidad y desempeño en el accionar diario tanto dentro como fuera de la instituci&oacuten. </p>
                <h2 class="pok"> SOLIDARIDAD </h2>
                <p> El personal docente, administrativo fomentamos el trabajo en equipo creando un ambiente de convivencia sana entre el personal, padres de familia y estudiantes. </p>
                <h2 class="pok">HONESTIDAD </H2>
                <p>La comunidad estudiantil est&aacute basada en principios y valores que permiten el crecimiento educativo de cada uno de nuestro docentes. </p>
                <h2 class="pok">TOLERANCIA </h2>
                <p> Los miembros de la comunidad estudiantil fomentamos relaciones basadas en acciones cordiales, respetando las opiniones y las diferencias individuales de las personas del centro educativo. </p>

                <h2 class="pok">RESPONSABILIDAD </h2>
                <p>Todos los miembros de la cominidad educativa cumplimos con los deberes institucionales dentro del marco legal, establecidos por el sistema educativo costarricense. </p>
            </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
